<%= form_for([@portfolio, @position]) do |f| %>
  <%= f.label :stock %>
  <%= f.text_field :stock %>
  <%= f.label :open_price %>
  <%= f.text_field :open_price %>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
  <%= f.submit  %>
<% end %>

<form class="lookup">
  Lookup company ticker:<br>
  <input class="ticker_lookup" type="text" name="lookup">
  <input type="submit" value="submit">
</form>

<div class='spinner'><%= image_tag('spiffy.gif') %></div>

<div class="lookup_results">
</div>

<%= link_to 'Back', portfolio_path(@portfolio.id) %>