<table>
  <tr>
    <th>Company</th>
    <th>Ticker</th>
    <th>Price</th>
    <th>Purchase Price</th>
    <th>Profit/Loss</th>
    <th>Balance</th>
  </tr>
<% @positions.each do |position| %>
  <% if !position.close_price %>
    <tr>
      <th><%= position.stock.company_name%></th>
      <th><%= position.stock.ticker%></th>
      <th><%= position.stock.current_price%></th>
      <th><%= position.open_price%></th>
      <th><%= position.profit_loss%></th>
      <th><%= position.balance%></th>
      <th><%= button_to 'Sell!', portfolio_position_path(portfolio_id: position.portfolio_id, id: position.id), :method => :delete %></th>
    </tr>
  <% end %>
<% end %>
</table>

<%= link_to("New Position", new_portfolio_position_url(params[:id])) %>