<table>
  <tr>
    <th>Company</th>
    <th>Ticker</th>
    <th>Price</th>
    <th>Profit/Loss</th>
    <th>Balance</th>
  </tr>
<% @positions.each do |position| %>
  <tr>
    <th><%= position.stock.company_name%></th>
    <th><%= position.stock.ticker%></th>
    <th><%= position.stock.current_price%></th>
    <th><%= position.profit_loss%></th>
    <th><%= position.balance%></th>
  </tr>
<% end %>
</table>

<%= link_to("New Position", new_portfolio_position_url(params[:id])) %>